<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
<div class="container">
    <h1>Todo List</h1>
    <div>Add a new todo item: 
        <form action="{{ url_for('add') }}" method="POST">

            <input type="text" placeholder="task" name="todoitem">
            <input type="text" placeholder="priority" name="priority">
            <input type="submit" value="Add Item">
        </form>
    </div>
    <div>
        <h2>Incomplete Items</h2>
       <div class="container"> 
        <div class="row">
                vg



           {% for todo in incomplete %}
            <div class="col-md-4"  style="font-size: 10pt" ><p> {{todo[2]}}) {{ todo[1] }}   <a href="{{ url_for('complete', id=todo[0]) }}">done </a> <a href="{{ url_for('delete', id=todo[0]) }}">delete </a>  </p></div>
            {% endfor %}    
        </div>
        </div>
        <h2>Completed Items</h2>
        <ul>
            {% for todo in complete %}
            <li style="font-size: 20pt">{{ todo[1] }}</li> <a href="{{ url_for('delete', id=todo[0]) }}"> delete </a>
            {% endfor %}
        </ul>
    </div>
	</div>
</body>
</html>