<!DOCTYPE html>

<added a commit> 
<html lang="en">
{% include "header.html" %}
<body>
<div class="container">
    <h1>Todo List</h1>
    <div>Add a new todo item: 
        <form action="{{ url_for('add') }}" method="POST">
            <input id="priority" type="text"  name="priority">
            <input type="text" placeholder="task" name="todoitem">
            <input type="submit" value="Add Item">
        </form>
    </div>
    <div>
        <h2>Incomplete Items</h2>
           {% for todo in incomplete %}
         <form action="{{url_for('update',id=todo[0])}}" method="POST">
        <input id="priority" name="priority"  type="text" class="text" value="{{todo[2]}}"> 
        <input  name="text" type="text" class="text" value="{{ todo[1] }}"> 
       <a> <input type="submit" id="submit" value="save">   </a>
         <a href="{{ url_for('complete', id=todo[0]) }}">completed </a> 
         <a href="{{ url_for('delete', id=todo[0]) }}">delete </a>  
        
    </form>
            {% endfor %}    
        <h2>Completed Items</h2>
          
        {% for todo in complete %}
            {{ todo[1] }}  <a href="{{ url_for('delete', id=todo[0]) }}"> delete </a> <a href="{{ url_for('undo', id=todo[0]) }}"> undo</a>
            {% endfor %}
      </div>
	</div>
</body>
</html>